<!DOCTYPE html>
<html lang="{{ @this->lang() }}">
<head>
	<include href="blocks/head.html" />
	<link rel="stylesheet" type="text/css" href="{{ @BASE }}/app/plugin/wiki/css/wiki.css">
</head>
<body>
<div class="container">
	<include href="blocks/navbar.html" />
	<div class="clearfix">
		<h1 class="pull-left">{{ @page.name }}</h1>
		<p class="pull-right">
			<br>
			<check if="{{ @@user.rank >= \Model\User::RANK_USER }}">
				<a href="{{ @BASE }}/wiki/edit/{{ @page.slug }}" class="btn btn-default btn-xs">
					<span class="fa fa-pencil"></span>&ensp;{{ @dict.edit }}
				</a>
			</check>
			<check if="{{ @@user.rank >= \Model\User::RANK_MANAGER }}">
				<a href="{{ @BASE }}/wiki/delete/{{ @page.slug }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this page?');">
					<span class="fa fa-remove"></span>&ensp;{{ @dict.delete }}
				</a>
			</check>
		</p>
	</div>
	<check if="{{ @update.id }}">
		<p class="text-muted">
			{{ @dict.wiki.edited_by_x_on_n,@update_user.name,strtotime(@update.created_date) | format }}
			&middot;
			<check if="{{ @update_count > 1 }}">
				<true>
					{{ @dict.wiki.n_revisions,@update_count | format }}
				</true>
				<false>
					{{ @dict.wiki.1_revision }}
				</false>
			</check>
		</p>
	</check>
	<hr>
	<div class="row">
		<div class="col-sm-9">
			<div class="tex wiki-content">
				{{ @page.content | parseText }}
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">Pages&ensp;<span class="badge">{{ count(@pages) }}</span></div>
				<div class="list-group">
					<repeat group="{{ @pages }}" value="{{ @page }}">
						<a style="padding-left: {{ 20*(@page.indent+1) }}px;" href="{{ @BASE }}/wiki/{{ @page.slug }}" class="list-group-item">
							<check if="{{ @page.indent }}">
								<true>
									{{ @page.name }}
								</true>
								<false>
									<b>{{ @page.name }}</b>
								</false>
							</check>
						</a>
					</repeat>
				</div>
			</div>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
<script type="text/javascript">
	// Bind keyup to hotkey handler
	$(document).on('keyup', function(e) {
		// Only handle hotkeys when not in a form context
		if(e.target.type != 'textarea' && e.target.tagName != 'INPUT' && e.target.tagName != 'SELECT') {
			if(e.which == 69 && !e.shiftKey && !e.metaKey && !e.ctrlKey && !e.altKey) {
				window.location = BASE + '/wiki/edit/{{ @page.slug }}';
			}
			if(e.which == 51 && e.shiftKey && !e.metaKey && !e.ctrlKey && !e.altKey) {
				window.location = BASE + '/wiki/delete/{{ @page.slug }}';
			}
		}
	});
</script>
</body>
</html>
