<!DOCTYPE html>
<html lang="{{ @this->lang() }}">
<head>
	<include href="blocks/head.html" />
	<check if="{{ @parse.markdown }}">
		<link rel="stylesheet" type="text/css" href="{{ @BASE }}/app/plugin/wiki/css/wiki.css">
		<link rel="stylesheet" type="text/css" href="{{ @BASE }}/css/easymde.min.css">
	</check>
</head>
<body>
<div class="container">
	<include href="blocks/navbar.html" />
	<form action="{{ @BASE }}/wiki/edit/{{ @PARAMS.page }}" method="post" autocomplete="off">
		<div class="form-group">
			<label for="name">{{ @dict.wiki.page_title }}</label>
			<input type="text" class="form-control" name="name" id="name" value="{{ @page.name | esc }}" required maxlength="64">
		</div>
		<div class="form-group">
			<label for="slug">{{ @dict.wiki.slug }}</label>
			<input type="text" class="form-control input-sm" name="slug" id="slug" value="{{ @page.slug ?: @PARAMS.page | esc }}" required maxlength="64">
		</div>
		<div class="form-group">
			<label for="slug">{{ @dict.wiki.parent }}</label>
			<select class="form-control input-sm" name="parent_id">
				<option value="">(No parent)</option>
				<repeat group="{{ @pages }}" value="{{ @wikipage }}">
					<check if="{{ !empty(@page.parent_id) && @page.parent_id == @wikipage.id }}">
						<true><option value="{{ @wikipage.id }}" selected>{{ @wikipage.name }}</option></true>
						<false><option value="{{ @wikipage.id }}">{{ @wikipage.name }}</option></false>
					</check>
				</repeat>
			</select>
		</div>
		<div class="form-group wiki-content">
			<label for="content">{{ @dict.wiki.content }}</label>
			<textarea class="form-control input-sm" name="content" id="content" rows="12">{{ @page.content | esc }}</textarea>
		</div>
		<div class="text-right">
			<a href="{{ @BASE }}/wiki/{{ @PARAMS.page }}" class="btn btn-sm btn-default">{{ @dict.cancel }}</a>
			<button type="reset" class="btn btn-sm btn-default">{{ @dict.reset }}</button>
			<button type="submit" class="btn btn-sm btn-primary">{{ @dict.save }}</button>
		</div>
	</form>
	<include href="blocks/footer.html" />
	<check if="{{ @parse.markdown && !@user_obj->option('disable_mde') }}">
		<script src="{{ @BASE }}/js/easymde.min.js"></script>
	</check>
	<script type="text/javascript">
	function slug(str) {
		str = str.replace(/^\s+|\s+$/g, '');
		str = str.toLowerCase();

		var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
		var to   = "aaaaeeeeiiiioooouuuunc------";
		for (var i = 0, l = from.length; i < l; i++) {
			str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
		}

		return str.replace(/[^a-z0-9\s-]/g, '').replace(/[\s-]+/g, '-');
	}
	$(document).ready(function() {
		if(!$('#slug').val().length) {
			$('#name').keyup(function(e) {
				$('#slug').val(slug($('#name').val()));
			});
			$('#name').change(function(e) {
				$('#slug').val(slug($('#name').val()));
			});
		}
	});
	if(typeof window.EasyMDE != 'undefined') {
		var mde = new EasyMDE({
			autoDownloadFontAwesome: false,
			element: document.getElementById('content'),
			toolbar: ['bold', 'italic', 'heading', '|', 'quote', 'unordered-list', 'ordered-list', '|', 'link', 'image', '|', 'preview', 'guide']
		});
		mde.render();
	}
	</script>
</div>
</body>
</html>
