<!DOCTYPE html>
<html lang="{{ @this->lang() }}">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container">
	<include href="blocks/navbar.html" />
	<check if="{{ @pages }}">
		<true>
			<div class="clearfix">
				<h1 class="pull-left">{{ @dict.wiki.pages }}</h1>
				<div class="pull-right" style="margin-top: 1.5em;">
					<a href="{{ @BASE }}/wiki/edit/" class="btn btn-primary btn-sm" id="btn-new">{{ @dict.wiki.new }}</a>
				</div>
			</div>
			<br>
			<div class="list-group">
				<repeat group="{{ @pages }}" value="{{ @page }}">
					<a style="padding-left: {{ 20*(@page.indent+1) }}px;" href="{{ @BASE }}/wiki/{{ @page.slug }}" class="list-group-item">
						<span class="badge hidden-xs">{{ date('M j, Y', strtotime(@page.created_date)) }}</span>
						<span class="fa fa-file"></span>&nbsp;
						<check if="{{ @page.indent }}">
							<true>
								{{ @page.name }}
							</true>
							<false>
								<b>{{ @page.name }}</b>
							</false>
						</check>
					</a>
				</repeat>
			</div>
		</true>
		<false>
			<div class="well">
				<div class="text-center" style="margin: 2em 0;">
					<p class="h3"><span class="fa fa-book"></span></p>
					<h3>{{ @dict.wiki.welcome }}</h3>
					<p>{{ @dict.wiki.intro }}</p>
					<a href="{{ @BASE }}/wiki/edit/" class="btn btn-primary btn-sm">{{ @dict.wiki.create }}</a>
				</div>
			</div>
		</false>
	</check>
	<include href="blocks/footer.html" />
</div>
<script type="text/javascript">
	// Bind keyup to hotkey handler
	$(document).on('keyup', function(e) {
		// Only handle hotkeys when not in a form context
		if(e.target.type != 'textarea' && e.target.tagName != 'INPUT' && e.target.tagName != 'SELECT') {
			if(e.which == 78 && !e.shiftKey && !e.metaKey && !e.ctrlKey && !e.altKey) {
				window.location = BASE + '/wiki/edit/';
			}
		}
	});
</script>
</body>
</html>
